<p id="notice"><%= notice %></p>

<!--body -->
<body>

  <div class="container-fluid">
    <div class="search">
      <div class="sort">
        <% if params[:sort_expired_dsc]%>
          <%= link_to "終了期限で昇順にソート", tasks_path(sort_expired_asc:true), :style=>"font-weight:bold" %>
        <% elsif params[:sort_expired_asc] %>
          <%= link_to "終了期限で降順にソート", tasks_path(sort_expired_dsc:true), :style=>"font-weight:bold" %>
        <% else %>
          <%= link_to "終了期限で降順にソート", tasks_path(sort_expired_dsc:true), :style=>"font-weight:bold" %>
        <% end %>
        <br/>
        <%= link_to "優先度高い順でソート", tasks_path(sort_priority_high:true), :style=>"font-weight:bold"%>
      </div>

        <form class="form-inline">
          <%= form_with(model:Task.new, url:tasks_path, local: true, method: :get) do |form| %>
            <%= form.label :search, "タスク名" %>
            <%= form.text_field :name, class: "form-control" %>

            <%= form.label :status_search, "ステータスで絞込" %>
            <%= form.select :status, ["未着手","着手中","完了"],{include_blank:"選択する"}, class:"simple" %>
            <%= form.hidden_field :search, value:"true" %>

            <%= form.submit name="検索する" %>
          <% end %>
        </form>

    </div>

    <div class="table_responsive">
      <div class="task_table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">タスク名</th>
              <th scope="col">内容</th>
              <th scope="col">登録日時 </th>
              <th scope="col">期限</th>
              <th scope="col">優先度  </th>
              <th scope="col">ステータス </th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="row">
            <% @tasks.each do |task| %>
              <tr class="narabi">
                <div class="row">
                <td><%= task.name %></td>
                <td><%= task.detail %></td>
                <td><%= task.created_at %></td>
                <td><%= task.due %></td>
                <td><%= task.priority %></td>
                <td><%= task.status %> </td>
                <td><%= link_to '詳細', task_path(task), class:"btn btn-primary mr-3" %></td>
                <td><%= link_to '編集', edit_task_path(task), class: "btn btn-success"%></td>
                <td><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= paginate @tasks %>
    <%= link_to '新規タスク登録', new_task_path, class: "btn btn-default btn-lg" %>
  </div>
</body>
