<p id="notice"><%= notice %></p>

<div class="edit">
  <p>
    <strong>タスク名:</strong><%= @task.name %>
  </p>

  <p>
    <strong>内容:</strong><%=@task.detail %>
  </p>

  <p>
    <strong>登録日時:</strong><%=@task.created_at %>
  </p>

  <p>
    <strong>期限:</strong><%=@task.due %>
  </p>

  <p>
    <strong>優先度:</strong><%=@task.priority %>
  </p>

  <p>
    <strong>ステータス:</strong><%=@task.status %>
  </p>

  <div class="button">
    <%= link_to '編集', edit_task_path(@task) %>|
    <%= link_to '戻る', tasks_path %>
  </div>
</div>
