<!DOCTYPE html>
<html>
  <head>
    <title>ManyoWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
  </head>


  <header>
    <nav class="navbar  navbar-default .justify-content-center" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <div class="navbar-header">
          <p id="notice"><%= notice %></p>
          <h4><%= link_to "タスク管理アプリ", tasks_path, :style=>"color:black" %></h4>
        </div>
        <div calss="navbar-header_right">

        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user.id) %>
          <%= link_to "Logout", session_path(current_user.id), method: :delete, data: { confirm: "ログアウトしますか?" }  %>
        <% else %>
        　<%= link_to "Sign up", new_user_path %>
          <%= link_to "Login", new_session_path %>
        <% end %>
        </div>
      </div>
    </nav>
  </header>


  <body>
    <%= yield %>
  </body>

  <!--footer-->
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="fixed-bottom">
        <div class="footer-logo">
          <p>DIC 万葉社課題  </p>
        </div>
        <div class="footer_myname">
          <p>WEP1908 TomohikoKobayashi  </p>
        </div>
      </div>
    </nav>
  </footer>

</html>
